.caja{
    width: 200px;
    height: 200px;
    
}

#azul{
    background-color: blue;
}

#rojo{
    background-color: red;
}

#verde{
    background-color: green;
}

#amarillo{
    background-color: yellow;
}

.conteiner{
    display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 15px;
}

.colores{
    background-color: green;
    width: 200px;
    height: 200px;
    
}