.conteiner{
    border: solid 1px black ;
    height: 300px;
    width: 800px;
    background-color: rgba(220, 221, 221, 0.986);
    
}


#ingresoTarea{
    width: 85%;
    margin-left: 5px;
}

.ingresos p{
    margin-left: 10px;
}

.tareasConteiner{
    display: flex;
    justify-content: space-evenly;
}

#listaTareas{
    display: flex;
    flex-direction: column;
}
.tareas{
    display: flex;
    justify-content: space-between;
}