*{
    margin: 0;
    padding: 0;
}

.grid-conteiner{
    grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-template-areas: 
'navegador'
'buscador'
'galeria'
'pie-de-pagina'
    ;
}
nav{
    grid-area: navegador;
    
}


aside{
    grid-area: buscador;
    background-color: rgb(220, 215, 215);
}

.buscador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
}
 .boton-selector{
    margin-bottom: 10px;
    width: 90%;
 }

main{
    grid-area: galeria;
    background-color: white;
    

}

.galeria-de-autos{
    grid-template-columns: 1fr;
    
}


.selector{
    height: 30px;
    display: flex;
    justify-content: center;
    color: rgb(44, 44, 210);
    margin: 20px 0 20px 0;
    
    
}
.cajas{
    border: solid 1px gainsboro;
    display: flex;
    font-size: 20px;
    
}



.card{
    border: 1px solid gray;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.card img{
    width: 250px;
    
}

.boton{
    margin-bottom: 15px ;
}

.card:nth-child(n+2) {
    display: none;
}

footer{
    grid-area: pie-de-pagina;
    background-color: rgb(30, 44, 192);
    color: white;
    display: flex;
    justify-content: center;
    
}

.icons{
    display: flex;
    justify-content: center;
    margin: 10px 0 8px 0;
}


@media(min-width:  576px){
    .grid-conteiner{
        height: 100vh;
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
    'navegador buscador'
    'navegador galeria'
    'pie-de-pagina galeria'
        
        ;
    }

    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
    }

   
    
    
    .galeria-de-autos{
        
        margin: 20px 5px 5px 35px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        overflow-y: auto; /* Habilita el scroll vertical */
        max-height: calc(100vh - 40px); /* Ajusta la altura máxima según el espacio disponible */
    }

    
     .card {
        display: flex;
    }

   
    .card:nth-child(n+2) {
        display: flex;
    }


}