body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
.cabecera{
    background-image: url("../imgs/fondo.jpg") ;
    background-size: cover; 
    background-position: center; 
    height: 6em;
    padding: 5em;
    font-size: 2em;  
}
header h1{
    font-weight: 400;
}

main{
    margin: 20px 0 20px 150px;  
}

main td{
    width: 50%;
    padding: 2em;
  }
  

main img{
    width: 400px;
    border: solid 1px #ddd;
  }

.piedepagina{
    height: 3em;
    line-height: 3em;
    background-color: rgb(185, 112, 41);
    color: white;
    text-align: center;
    font-weight: 900;
}




