*{
    margin: 0;
    padding: 0;
}

.section1{
    height: 10vh;
}

.section2{
    height: 10vh;
}
.selectores_contraseña{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.card {
    display: flex;
    flex-direction: column;
    
    
}

.card input{
    margin-top: 15px;
}


.cards img{
    width: 300px;
    height: 300px;
}

.button_verificar{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mensaje_verificador{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.imagen_borde{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.imagen_borde img{
    width: 300px;
    cursor: pointer;
    
}